html{
    background-color:  #22272c;
}   
p,h1,h2,h3,h4 {
    color: white;
}
a,a:hover,a:visited {
    color:white
}
header,footer{
    height: auto;
    background: #22272C;
    background: linear-gradient(180deg,rgba(34, 39, 44, 1) 0%, rgba(42, 65, 88, 1) 50%, rgba(89, 115, 135, 1) 100%);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Home{
    background-image: url('Assets/wp4673203.jpg');
    height: auto;
    text-align: center;
    padding: 175px 0;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#About{
    padding: 25px 0;
    height: auto;
    background: #22272C;
    background: linear-gradient(180deg,rgba(34, 39, 44, 1) 0%, rgba(42, 65, 88, 1) 50%, rgba(89, 115, 135, 1) 100%);
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutCard{
    color:white
}
.minimal-quote-container {
    margin-top: 1rem; /* Adjust spacing as needed */
}
.minimal-blockquote {
    border-left: 3px solid white; /* Subtle indicator */
    padding-left: 1.5rem;
}
.minimal-quote-text {
    font-size: 1.1rem;
    line-height: 1.6;
    color: white; /* Darker text for readability */
}
.minimal-quote-author {
    font-size: 1rem;
    color: white; /* Lighter text for attribution */
    text-align: center;
}
#Projects{
    background-image: url('Assets/photo-1521489871110-81dc5a61dbda.jpg');
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#carouselWrapper{
    width: 100%;
}
#carouselExampleCaptions{
    width: 75%;
}
#Contact {
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.nav-link,.nav-link:hover, .nav-link:visited {
    color:white;
}
.socMed{
    width: 35px;
}